<h2 align="center">Tournaments</h2>
<div align="center">
	<p>Below are the currently available tournaments. Browse them, view their times and prizes, and if you are a user and would like to register, click on the button below the list.</p>
</div>
<div align="center">
	<table border="1">
		<tr>
			<th>Game</th>
			<th>Time</th>
			<th>Date</th>
			<th>Description</th>
			<th>Prize</th>
		</tr>
	{{#each tourneyInfo}}
		<tr>
			<td>{{game}}</td>
			<td>{{time}}</td>
			<td>{{date}}</td>
			<td>{{description}}</td>
			<td>{{prize}}</td>
		</tr>
	{{/each}}
	</table>
</div>
<form align="center" action="/tourneyreg">
	<button type="submit">Register for Tournament</button>
</form>
