<h1 align="center">Tournament Registrations</h1>
</br>
<div align="center">
  <table border="1">
    <tbody>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gamer Tag</th>
        <th>Game</th>
      </tr>
      {{#each rows}}
      <tr>
        <td>{{ID}}</td>
        <td>{{NAME}}</td>
        <td>{{EMAIL}}</td>
        <td>{{TAG}}</td>
        <td>{{GAME}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
