<h1 align="center">Registered Users</h1>
</br>
<div align="center">
  <table border="1">
    <tbody>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Admin?</th>
      </tr>
      {{#each rows}}
      <tr>
        <td>{{ID}}</td>
        <td>{{NAME}}</td>
        <td>{{EMAIL}}</td>
        <td>{{PASS}}</td>
        <td>{{isADMIN}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
